@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #cfcbcb;
}
  
::-webkit-scrollbar-thumb {
    background: #757373;
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #474646;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.slideshow-container {
    position: relative;
}

.slides-container {
    display: flex;
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.slide1 {
    background: url(./images/italy-min.jpeg) no-repeat;
    background-size: cover;

}

.slide2 {
    background: url(./images/japan-min.jpeg) no-repeat;
    background-size: cover;
}

.slide3 {
    background: url(./images/norway-min.jpeg) no-repeat;
    background-size: cover;
}

.slide4 {
    background: url(./images/swiss-min.jpeg) no-repeat;
    background-size: cover;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.7);
    width: 100%;
    height: 100%;
}

.caption {
    font-size: 15px;
    font-weight: 500;
    color: #e0c999;
    letter-spacing: 2px;
}

.name {
    font-size: 9vw;
    font-weight: 800;
    letter-spacing: 10px;
}

.control-btn {
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
}

.next, .prev {
    margin: 0 35px;
    cursor: pointer;
}

.next svg:hover, .prev svg:hover {
    fill: rgb(255, 255, 255);
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 95%;
}

.dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.dot:hover {
    background-color: rgb(255, 255, 255);
}

.show {
    display: block;
}

.active {
    background-color: rgb(255, 255, 255);
}


